.aboutContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  font-family: "Georgia", serif;
  color: var(--light);
  background: linear-gradient(to bottom, #0d1b2a, #1b263b);
  overflow: hidden;
}

/* Styles pour la lune */
.moon {
  position: absolute;
  top: 3%;
  right: 5%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #fff, #ccc);
  box-shadow: 0 0 20px 10px #fff;
  z-index: 1;
}

/* Styles pour le sol de neige */
.snowGround {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2em;
  background: #fff;
  border-top-left-radius: 50% 25px;
  border-top-right-radius: 50% 25px;
  opacity: 0.9;
  z-index: 1;
}

/* Styles pour les cartes */
.card {
  position: absolute;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.178);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.imageContainer {
  margin-bottom: 15px;
}

.cardImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.textContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.textContainer p {
  font-size: 1.3rem;
  color: var(--light);
}

/* Positionnement et inclinaison des cartes */
.sandraCard {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(5deg);
}

.edgarCard {
  top: 20%;
  left: 10%;
  transform: rotate(-5deg);
}

.cookieCard {
  top: 20%;
  right: 10%;
  transform: rotate(10deg);
}

/* Responsive Design */
@media (max-width: 1333px) {
  .card {
    position: static;
    transform: none;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .sandraCard,
  .edgarCard,
  .cookieCard {
    top: auto;
    left: auto;
    right: auto;
    transform: none;
    z-index: 150000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
}

/* Styles pour le sapin de Noël */
.christmasTree {
  position: absolute;
  bottom: 2%;
  right: 10%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.etage {
  height: 100px;
  width: 200px;
  background-color: #006400;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #006400, #004d00);
}

.etage:nth-of-type(1) {
  height: 50px;
  width: 100px;
  transform: translateY(280%);
}

.etage:nth-of-type(2) {
  height: 75px;
  width: 150px;
  transform: translateY(120%);
}

.etage:nth-of-type(3) {
  height: 100px;
  width: 200px;
  transform: translateY(50%);
}

.bas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tronc {
  width: 30px;
  height: 50px;
  background-color: #642d00;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #642d00, #4a2200);
}

.deco {
  position: absolute;
  z-index: 10;
  display: block;
}

.etoile {
  background-color: #fffb00;
  height: 35px;
  width: 35px;
  bottom: 61%;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5); /* Lumière autour de l'étoile */
}

.boule {
  background-color: #ec2121;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  background: radial-gradient(circle at 30% 30%, #ff4d4d, #cc0000);
}

#b1 {
  top: 44%;
  left: 30%;
}

#b2 {
  top: 46%;
  left: 63%;
  width: 25px;
  height: 25px;
}

#b3 {
  top: 58%;
  left: 24%;
  width: 30px;
  height: 30px;
}

#b4 {
  top: 59%;
  left: 73%;
}

#b5 {
  top: 76%;
  left: 10%;
  width: 30px;
  height: 30px;
}

#b6 {
  top: 77%;
  left: 81%;
  width: 30px;
  height: 30px;
}

#b7 {
  top: 38%;
  left: 47%;
  width: 22px;
  height: 22px;
}

#b8 {
  top: 52%;
  left: 42%;
  width: 22px;
  height: 22px;
}

#b9 {
  top: 67%;
  left: 57%;
  width: 22px;
  height: 22px;
}

#b10 {
  top: 73%;
  left: 36%;
  width: 18px;
  height: 18px;
}
@media screen and (max-width: 875px) {
  .hideOnMobile {
    display: none;
    transition: all 0.2s ease-in-out;
  }
}

.dog {
  position: absolute;
  bottom: -12%;
  left: 10%;
  z-index: 1000000000000000000000000000000;
}

@media screen and (max-width: 875px) {
  .dog {
    display: none;
    transition: all 0.2s ease-in-out;
  }
}
